.projects{
    width: 95%;
    margin-right: 10px;
}
.projects-title{
    color: rebeccapurple;
    font-size: 400%;
    text-align: center;
    margin-top: 0px;
}
.project-title{
    color: #e3d83f;
    font-size: 200%;
    padding: 10px;
    margin-left: 100px;
}
.project-description{
    font-weight: bold;
    color: #827C55;
    padding-bottom: 10px;
}
.assessment{
    margin-top: auto;
    position: relative;
    background-color: #272529;
}
.assessment.left{
    border-radius: 50px;
    border-bottom-left-radius: 0px;
}
.assessment.right{
    border-radius: 50px;
    border-bottom-right-radius: 0px;
}